*{
  margin: 0;
  padding: 0;
}

:root{
  background-image: url('./assets/sky-bg.jpg');
  background-size: cover;
  --background: linear-gradient(167deg, rgba(34, 110, 164, 0.34), rgba(250, 212, 237, 0.2));
  --text-color: rgb(1, 1, 60);
  --btn-color: rgba(74, 74, 74, 0.294);
  --btn-hover: linear-gradient(157deg, rgba(83, 108, 207, 0.738), rgba(179, 131, 162, 0.689));
  --cursor-color: rgb(220, 159, 45);
}

[data-theme="dark"]{
  background-image: url('./assets/night-sky-bg.jpg');
  --background: linear-gradient(167deg, rgb(0, 11, 19), rgb(156, 87, 37));
  --text-color: rgb(234, 234, 253);
  --btn-color: rgba(183, 224, 252, 0.294);
  --btn-hover: linear-gradient(197deg, rgb(4, 24, 120), rgb(156, 87, 37));
  --cursor-color: #f7f2e5;
}

body{
  position: relative;
  height: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
  background: var(--background);
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--text-color);
  font-family: Lora;
  transition: background 0.6s ease;
}

h1,h2,h3,h4,h5,h6, p{
  color: var(--text-color);
}

a{
  color: var(--text-color);
  text-decoration: none;
}

.logo{
  cursor: pointer;
}