.toggle-container {
  position: absolute;
  top: 2em;
  right: 8em;
  cursor: pointer;
  z-index: 1000;
}

.check-img {
  max-width: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  -webkit-transition: transform 0.3s ease, filter 0.3s ease;
  -moz-transition: transform 0.3s ease, filter 0.3s ease;
  -ms-transition: transform 0.3s ease, filter 0.3s ease;
  -o-transition: transform 0.3s ease, filter 0.3s ease;
}

.toggle-container:hover .check-img {
  transform: scale(1.1);
  filter: brightness(1.2);
}


@media (max-width: 768px) {
  .toggle-container {
    top: 1em;
    right: 3em;
  }
}

@media (max-width: 440px) {
  .toggle-container {
    flex-direction: column;
    align-items: center;
  }

  .check-img {
    max-width: 30px;
  }
}
